.card{
    padding: 15px;
    background-color: aliceblue;
    border-radius: 8px;
    border: 1px solid rgb(184, 179, 179);
    overflow: hidden;


    &__header{
        padding: 12px;
        width: 100%;
        background-color: rgb(220, 236, 245);
        border-radius: 12px;
    }

    &__disabled{
        background-color: rgb(152, 177, 191);    
    }

    &__close-button{
        padding: 4px 8px;
        border-radius: 4px;
        border: 1px soldi rgb(184, 179, 179);
        cursor: pointer;
    }
}